<!--<div class = "cPart"><img src = "../images/cPart.png" style="position:absolute; left: 0px; top:0px" border="0"></div>-->
<!--<div class = "toolBox"><img src = "../images/toolBox.jpg" style="position:absolute; right: 0px; top:0px" border="0"></div>-->
<!--<br><br><br> &lt;!&ndash; gets us past the header absolute placement &ndash;&gt;-->
<!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
<!--<script src="/js/jquery.min.js"></script>-->
<!--<script src="/js/bootstrap.min.js"></script>-->

<!-- new stuff below -->
<!-- these scripts will be uncommented once we convert current html to bootstrap-->
<!-- using views/layout line #8 will include this file by default in any res.render() calls -->

<!--<script-->
<!--src="https://code.jquery.com/jquery-3.1.1.min.js"-->
<!--integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="-->
<!--crossorigin="anonymous"></script>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>-->

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="/"><img src="../images/cBlock-nav.png" class="rounded-circle"></a>

    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>

    <div class="collapse navbar-toggleable-xs" id="navbarResponsive">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view">Vetting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/application/add">Apply</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/find/:id">Find by ID</a>
            </li>
        </ul>
    </div> <!-- navbar-toggleable-s -->

</nav> <!-- navbar navbar-fixed-top -->

