<body>
<!-- Begin homepage -->
<div class="container">
    <div class="row">
        <h1>{{title}}</h1>
        <h4><a href="/application/add">Fill out a document package</a></h4>
        <br>
        <h4><a href="/view">View all Document Packages</a></h4>
        <br>
        <h4>Sample <a href="/view/583f96201df29e28583456f2">Vetting View</a>
            or <a href="/vettingworksheet/583f96201df29e28583456f2">Vetting Worksheet</a> for Perry Mason</h4>
        <h4>Sample <a href="/view/583f9071c7579c1590ac5d69">Vetting View</a>
            or <a href="/vettingworksheet/583f9071c7579c1590ac5d69"> Vetting Worksheet</a> for Homer Simpson</h4>
    </div>
</div>
</body>