<body>
<!-- Begin homepage -->
<div class="container">
    <div class="row">
        <br>
        <h1><b>{{title}}</b></h1>
        <br>
        <h4>Fill out an <a href="/application/add">application</a>, also known internally as a Document Package</h4>
        <br>
        <h4>View all <a href="/view">Document Packages</a></h4>
        <br>
        <h4>Sample <a href="/view/583f96201df29e28583456f2">Vetting View</a>
            or <a href="/vettingworksheet/583f96201df29e28583456f2">Vetting Worksheet</a> for Perry Mason</h4>
        <h4>Sample <a href="/view/583f9071c7579c1590ac5d69">Vetting View</a>
            or <a href="/vettingworksheet/583f9071c7579c1590ac5d69"> Vetting Worksheet</a> for Homer Simpson</h4>
    </div>
</div>
</body>