<head>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</head>

<style>
    div {
        padding: 3px;
    }
    #b1 {
        border: 4px solid orange;
    }
    #b2 {
        border: 3px solid darkblue;
    }
    #b3 {
        border: 2px solid lightcoral;
    }
    #b4-1 {
        border: 2px solid darkolivegreen;
    }
    #b4-2 {
        border: 2px solid darkturquoise;
    }
    #b4-3 {
        border: 2px solid crimson;
    }
</style>

<!-- These scripts are included to not break the other pages that do not use bootstrap -->
<!--<script-->
        <!--src="https://code.jquery.com/jquery-3.1.1.min.js"-->
        <!--integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="-->
        <!--crossorigin="anonymous"></script>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>-->


<body>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <a class="navbar-brand" href="/"><img src="../images/cBlock-nav.png" class="rounded-circle"></a>

        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>

        <div class="collapse navbar-toggleable-xs" id="navbarResponsive">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view">Vetting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/application/add">Apply</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/find/:id">Find by ID</a>
                </li>
            </ul>
        </div> <!-- navbar-toggleable-s -->

    </nav> <!-- navbar navbar-fixed-top -->
    <h1>{{title}}</h1>
    <h4><a href="/application/add">Fill out a document package</a></h4>
    <h4><a href="/view">View all Document Packages by status</a></h4>
    <h4><a href="/view/581140ab450b120e5139f9b6">View profile of Rick Grimes</a></h4>
    <br>
    <p>I am a HBS variable surrounded by double { } brackets. My content: {{body}}</p>
    <br>
    <p>I have added some CSS styles to pad the colored border to show off the grid system.</p>


    <div class="container-fluid" id="b1" style="margin: 2px">
        <div class="row" id="b2">
            <div class="col" id="b3">
                <p>I am a child of container. There are is only one row and one col here.</p>
            </div>
        </div>
        <br>
        <div class="row" id="b2">
            <div class="col" id="b3">
                <p>We are duplicates if the first row-col</p>
            </div>
        </div>
        <br>
        <div class="row" id="b2">
            <div class="col" id="b3">
                <p>We are duplicates if the first row-col</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid" id="b1" style="margin: 2px">
        <div class="row" id="b2">
            <div class="col" id="b3">
                <p>I am a <code>&lt;p&gt;</code> child of container.row.col spanning the entire row</p>
            </div>
            <div class="col-sm-4" id="b4-1">
                <p>1 of 3 class="col-sm-4"</p>
            </div>
            <div class="col-sm-4" id="b4-2">
                <p>2 of 3 class="col-sm-4"</p>
            </div>
            <div class="col-sm-4" id="b4-3">
                <p>3 of 3class="col-sm-4"</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid" id="b1" style="margin: 2px">
        <div class="row" id="b2">
            <div class="col" id="b3">
                <p>I am a <code>&lt;p&gt;</code> child of container.row.col spanning the entire row</p>
                <p>Each of my col buddys below me is in the same row and container as me!</p>
                <p>Try resizing the window and see how the layout shuffles itself around!</p>
            </div>
            <div class="col-xs-6 col-md-4" id="b4-1">
                <p>I take one half of the screen width both on phones and big monitors! col-xs-6 lets me take 1/2 of a small screen.</p>
            </div>
            <div class="col-xs-3 col-md-4" id="b4-2">
                <p>I take one quarter of the screen width of monitors, but make a new row on small screens.</p>
            </div>
            <div class="col-xs-3 col-md-4" id="b4-3">
                <p>Just like the other guy, col-md-4 makes me take 1/4 of a monitor but none of a phone.</p>
            </div>
        </div>
    </div>
</body>