<center><h2>Catalyst Partnerships Recipient Application</h2></center>
<!--
<form method="GET" action="http://localhost:8000/preForm" id="preAppForm"> -->
	<div class="formSection"></div>
	<div class="formSection"><center><h3>Welcome to Catalyst!</h3></center>
		<p>Dear Applicant:</p>
		<p>Catalyst Partnerships provides construction repairs, remodeling, and other services to homeowners who are elderly, disabled, and/or low-income. We also do projects for other like minded non-profit organizations. Our mission is to bring together useful resources and caring volunteers to meet the needs of under-resourced people in our community. Work is performed by skilled and unskilled volunteers, and overseen by licensed contractors. Funds and materials are provided through donations from generous individuals, businesses, and organizations in the community. Recipients are not required to pay for help, but are encouraged to contribute whatever labor and/or funds they are able to. Please complete the following application and click Submit. Please call with any questions (971) 245-6555.</p>
		<p>Please note that Catalyst does not provide services for rental properties. Check below to indicate that you are the owner, and up to date on your mortgage payments.</p>

		<div class="formLine">
			<input type="checkbox" name="yes1" value="yes1">I own the home for which I am requesting work.
		</div>
		<div class="formLine">
			<input type="checkbox" name="yes2" value="yes2">I am up to date on my mortgage payments. 
		</div>
		<div class="formLine">
			<input type="submit" value="Get Started">
		</div>
	</div>
</form>