<div>New Restaurant</div>
<div>
    <form name="addrest" method="post" action="http://localhost:8000/test/insert_rest">
        <label for="a_building">Building Number</label>
        <input type="number" name="a_building"/>
        <br>

        <label for="a_coord_1">First Coordinate Number</label>
        <input type="number" name="a_coord_1"/>
        <br>

        <label for="a_coord_2">First Coordinate Number</label>
        <input type="number" name="a_coord_2"/>
        <br>

        <label for="a_street">Street Address</label>
        <input type="text" name="a_street"/>
        <br>

        <label for="a_zip">Zip Code</label>
        <input type="number" name="a_zip"/>
        <br>

        <label for="borough">Borough</label>
        <input type="text" name="borough"/>
        <br>

        <label for="cuisine">Cuisine</label>
        <input type="text" name="cuisine"/>
        <br>

        <label for="name">Name</label>
        <input type="text" name="name"/>
        <br>

        <label for="restaurant_id">Restaurant ID</label>
        <input type="number" name="restaurant_id"/>
        <br>

        <input type="submit" name="submit" value="Add Restaurant"/>
    </form>
</div>