div.formLine {
	padding: 10px;
}

div.formSection {
	padding: 10px;
	border-bottom: 1px solid black;

}

.tinyField {
	width: 40px;
}

.smallField {
	width: 50px;
}

.mediumField {
	width: 150px;
}

.largeField {
	width: 250px;
}

